@layer theme, base, mui, components, utilities;
@import "tailwindcss";

html, body {
	height: 100%;
}

body {
	margin: 0;
}



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
